<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell">Parallel Programming in Python (day 1)</h3>
    <ul>
      <li>Recognizing parallelizable problems</li>
      <li>Dependency diagrams</li>
      <li>Measuring performance</li>
      <li>Working with Dask Arrays</li>
      <li>Threading vs. Multiprocessing</li>
      <li><a href="https://carpentries-incubator.github.io/lesson-parallel-python/">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-python">Parallel Programming in Python (day 2)</h3>
    <ul>
      <li>Working with Numba</li>
      <li>Parallel design patterns</li>
      <li>Delayed evaluation</li>
      <li>Workflows with Snakemake</li>
      <li><a href="https://carpentries-incubator.github.io/lesson-parallel-python/">Reference...</a></li>
    </ul>
  </div>
</div>

